---
import BaseLayout from '@/layouts/BaseLayout.astro';
import AuthForm from '@/components/auth/AuthForm';
export const prerender = false;
---
<BaseLayout noindex={true} title="Sign in | RaceHub">
  <section class="section-shell">
    <AuthForm client:load mode="login" />
  </section>
</BaseLayout>
